<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing JavaScript</title>
  </head>
  <body>
    <h1>Testing JavaScript</h1>
    <p>This is a basic HTML page.</p>
    <script>
      console.clear();
      const points1 = new Array(40, 100, 1);
      const points2 = new Array(40, 100);
      const points3 = new Array();
      const points4 = [40];
      console.log(points1); // 3
      console.log(points2); // 2
      console.log(points3); // 40
      console.log(points4); // 1
    </script>
  </body>
</html>
